<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Geolocalização</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <capacitor-google-map id="map"></capacitor-google-map> -->

<!-- https://capacitorjs.com/docs/apis/google-maps?__hstc=13779304.64d67876bad4427a61ecfca715bf0f03.1669259456233.1669259456233.1669776236373.2&__hssc=13779304.2.1669776236373&__hsfp=2544763105&_gl=1*xrcyy3*_ga*Njc3OTM0MTM4LjE2Njg4MTQ3OTA.*_ga_REH9TJF6KF*MTY2OTc3NjIzMi4xMy4xLjE2Njk3Nzc1MDguMC4wLjA. -->