ion-img {
  filter: blur(3px);
  margin: -5%;
}

ion-card {
  margin-top: 20%;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  font-weight: bold;
}

ion-card-title {
  text-align: left;
  color: rgb(7, 146, 33);
}