<ion-img src="https://wallpapercave.com/dwp1x/wp5257034.jpg"
  alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
<ion-card>
  <ion-card-header>
    <ion-card-title>Rick & Morty</ion-card-title>
    <img class="eu"
      src="https://scontent.fgig4-1.fna.fbcdn.net/v/t39.30808-6/296483333_1472981159806175_3710404474889170318_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_ohc=uMNfTWN0NLcAX_G1ik_&_nc_ht=scontent.fgig4-1.fna&oh=00_AfAQ-P4GxQ-B7plmzn67KSH02I2xYbZAUGZ5bXpN37tdxQ&oe=63830657" />

    <ion-card-subtitle>
      Olá, me chamo Davyd e este é um apk com uma lista de episódios, ess epk foi desenvolvido para a matéria de
      Desenvolvimento
      Móvel.Abaixo você encontra minhas redes sociais
    </ion-card-subtitle>
    <div class="redes">
      <a href="https://www.instagram.com/davyd_al/">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
      <a href="https://www.linkedin.com/in/davyddealmeidasantosti/">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
      <a href="https://www.facebook.com/Almeidadavyd">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="https://github.com/DavydAl">
        <ion-icon name="logo-github"></ion-icon>
      </a>

    </div>
  </ion-card-header>

</ion-card>